# ----- V3 -----
# Size optimization
# Balanced version with key features and older package versions but significantly smaller

# Web Framework
fastapi==0.104.1
python-multipart
uvicorn[standard]==0.24.0

# AI Features
rembg==2.0.55
mediapipe==0.10.13
onnxruntime

# Image Processing
pillow
pillow-heif
opencv-python-headless<4.9
numpy<2
